{% extends 'app.html.twig' %}

{% block content %}
    <section id="content" class="">
        <div class="container">
            <h1>{{ trans["title"]["signup"] }}</h1>
            <div class="row row-sm-1 row-md-1 row-lg-2 row-lg-2">
                <div>
                    <p class="lead">Werde Teil der Community.</p>
                    <form method="post" class="row row-sm-1 row-md-1 row-lg-1 row-lg-1 needs-validation" novalidate>
                        <div>
                            <label for="email">E-Mail-Adresse</label>
                            <input type="text" name="email" id="email" class="input" value="{{ user.email|default('') }}" placeholder="E-Mail-Adresse" required="required" aria-required="true">
                            <div class="invalid-feedback">
                                {{ trans["input"]["email"]["empty"] }}
                            </div>
                        </div>
                        <div>
                            <label for="username">Benutzername</label>
                            <input type="text" name="username" id="username" class="input" value="{{ user.username|default('') }}" placeholder="Benutzername" required="required" aria-required="true">
                            <div class="invalid-feedback">
                                {{ trans["input"]["user"]["empty"] }}
                            </div>
                        </div>
                        <div>
                            <label for="password_a">Passwort</label>
                            <input type="password" name="password_a" id="password_a" class="input" value="{{ user.password_a|default('') }}" placeholder="Passwort" required="required" aria-required="true">
                            <div class="invalid-feedback">
                                {{ trans["input"]["password"]["empty"] }}
                            </div>
                        </div>
                        <div>
                            <label for="password_b">Passwort wiederholen</label>
                            <input type="password" name="password_b" id="password_b" class="input" value="{{ user.password_b|default('') }}" placeholder="Passwort wiederholen" required="required" aria-required="true">
                            <div class="invalid-feedback">
                                {{ trans["input"]["password_retype"]["empty"] }}
                            </div>
                        </div>
                        <div>
                            <label for="firstname">Vorname</label>
                            <input type="text" name="firstname" id="firstname" class="input" value="{{ user.firstname|default('') }}" placeholder="Vorname" required="required" aria-required="true">
                            <div class="invalid-feedback">
                                {{ trans["input"]["firstname"]["empty"] }}
                            </div>
                        </div>
                        <div>
                            <label for="lastname">Nachname</label>
                            <input type="text" name="lastname" id="lastname" class="input" value="{{ user.lastname|default('') }}" placeholder="Nachname" required="required" aria-required="true">
                            <div class="invalid-feedback">
                                {{ trans["input"]["lastname"]["empty"] }}
                            </div>
                        </div>
                        <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token }}">
                        <p class="small">Mit Klick auf <span class="text-emphasised">{{ trans["button"]["submit"]["register"] }}</span> erklärst du dich mit den <a href="#">Nutzungsbedingungen</a> einverstanden.</p>
                        <div>
                            <button type="submit" class="btn btn-primary px-5">{{ trans["button"]["submit"]["register"] }}</button>
                        </div>
                    </form>
                </div>
                <div class="p-3">
                    <img src="{{ link('images/graphics/signup_001.svg') }}" alt="sin in" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
