{% extends 'app.html.twig' %}

{% block content %}
    <div class="container my-3">
        <div class="mx-auto bg-light border border-color-dark shadow-sm">
            <div class="body mb-3">
                <h2>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"/>
                        <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"/>
                        <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"/>
                    </svg>
                    <span>Meine Aufgaben</span>
                </h2>
                <p class="mb-1">Füge Aufgaben hinzu und behalte immer den Überblick.</p>
                <div class="">
                    <form method="post" class="row row-sm-1 row-md-1 row-lg-2 row-xl-2">
                        <div style="position: relative">
                            <div class="text-muted" style="position: absolute;left: 5px;top:9px">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                                    <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                </svg>
                            </div>
                            <label for="filter_due_date">Filtern</label>
                            <select id="filter_due_date" name="due_date_filter" class="input filter_form">
                                <option value="all" {% if not due_date_filter %}selected{% endif %}>alle</option>
                                {% for key, value in due_dates %}
                                    <option value="{{ value }}" {% if due_date_filter == value %}selected{% endif %}>{{ key }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div style="position: relative">
                            <div class="text-muted" style="position: absolute;left: 5px;top:9px">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag-fill" viewBox="0 0 16 16">
                                    <path d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                </svg>
                            </div>
                            <label for="filter_tags">Filtern</label>
                            <select id="filter_tags" name="tag_filter" class="input filter_form">
                                <option value="all" {% if not tag_filter %}selected{% endif %}>alle</option>
                                {% for tag in tags %}
                                    <option value="{{ tag.id }}" {% if tag_filter == tag.id %}selected{% endif %}>{{ tag.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <hr>
                <form id="tasks_form" method="post" action="{{ route('task/delete') }}" class="row" style="gap: 0">
                    {% if tasks %}
                        {% for task in tasks|filter(task => task.tag_id == tag_filter)  %}
                            {% if (now|date('Ymd') + due_date_filter) == task.dueDate|date('Ymd') or due_date_filter == 'all' %}
                                {{ include('task/_tasks.html.twig') }}
                                <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token }}">
                            {% endif %}
                        {% endfor %}
                        {% if tag_filter == 'all' %}
                            {% for task in tasks  %}
                                {% if (now|date('Ymd') + due_date_filter) == task.dueDate|date('Ymd') or due_date_filter == 'all' %}
                                    {{ include('task/_tasks.html.twig') }}
                                    <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token }}">
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        <span>Keine Aufgaben vorhanden!</span>
                    {% endif %}
                </form>
            </div>
            <div class="px-3 py-2 bg-tertiary d-flex justify-content-space-between align-items-center">
                <a class="btn btn-primary px-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
                    </svg>
                    Neu
                </a>
                <button form="tasks_form" type="submit" class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script type="text/javascript">
        ( function (){
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            let filter_forms = document.querySelectorAll('.filter_form');

            // Loop over them and prevent submission
            Array.prototype.slice.call(filter_forms)
                .forEach(function (form) {
                    form.addEventListener('change', function (event) {
                        this.form.submit();
                        console.log('form submitted');
                    }, false)
                })

        })();
    </script>
{% endblock %}
