<ul class="navbar-nav d-flex align-items-center">
    <li class="align-items-center" style="display: flex"><img src="{{ link('favicon.svg') }}" alt="Task Manager App Logo" height="36px" class="me-2"></li>
    {% if session.get('user') %}
    <li><a href="{{ route('task') }}" class="btn btn-dark {% if active_section == 'task' %}active{% endif %}">{{ trans["nav"]["action"]["tasks"] }}</a></li>
    <li><a href="{{ route('tag') }}" class="btn btn-dark {% if active_section == 'tag' %}active{% endif %}">{{ trans["nav"]["action"]["tags"] }}</a></li>
    {% endif %}
</ul>