{% extends 'app.html.twig' %}

{% block content %}
    <div class="container py-3">
    <div class="mx-auto bg-light border border-color-dark pb-3 shadow-sm">
        <div class="body bg-tertiary py-1">
            <h1 class="mt-0">{{ trans["title"]["semesters"] }} {{ current_semester.title|default('') }}</h1>

        </div>
        <div class="mt-2 px-3">
            <span class="btn btn disabled small">Zurück</span>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Bezeichnung</th>
                <th scope="col">Tutorium</th>
                <th scope="col">Teilnehmende</th>
                <th scope="col" class="d-flex justify-content-end">Aktion</th>
            </tr>
            </thead>
            <tbody>
                {% if semesters %}
                    {% for semester in semesters %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td><a href="{{ route("semester/#{semester.id}/view") }}">{{ semester.title }}</a></td>
                            <td><a href="#">Herr Tanzer</a></td>
                            <td>25</td>
                            <td class="d-flex justify-content-end">
                                {% if not semester.parent %}
                                    <span class="btn disabled small">bearbeiten</span>
                                {% else %}
                                    <a href="#" class="btn btn-primary small">bearbeiten</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>Noch keine Klassen eingetragen.</p>
                {% endif %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}