{% extends 'base.html.twig' %}

{% block body %}
    {% block navigation %}
        <section id="navigation" class="bg-dark">
            <div class="container-fluid">
                <nav class="navbar d-flex justify-content-space-between">
                    {{ include('navigation/global_menu.html.twig') }}
                    {{ include('navigation/user_menu.html.twig') }}
                </nav>
            </div>
        </section>
    {% endblock %}
    {% block flash_messages %}
        {{ flash|raw }}
    {% endblock %}
    <main class="flex-grow-1" id="page">
        {% block content %}{% endblock %}
    </main>
    {% block footer %}
        <footer class="bg-dark text-light py-1 mt-5">
            <div class="container">
                <span class="small">Copyright &copy;2021 - Benjamin Wagner</span>
                <a href="{{ route('imprint') }}" class="text-light ms-2 small">Impressum</a>
                <a href="{{ route('terms') }}" class="text-light ms-2 small">Nutzungsbedingungen</a>
            </div>
        </footer>
    {% endblock %}

{% endblock %}
