{% apply spaceless %}
    <!DOCTYPE html>
    <html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{{ title|default('n/a') }}</title>
        {% block styles %}
            <link rel="stylesheet" href="{{ link('styles/app.css') }}">
            <link rel="icon" type="image/svg+xml" href="{{ link('favicon.svg') }}">
            <link rel="icon" type="image/png" href="{{ link('favicon.png') }}">
        {% endblock %}
    </head>
    <body class="d-flex flex-column justify-content-space-between">
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script>
                // Check that service workers are supported
                if ('serviceWorker' in navigator) {
                    // Use the window load event to keep the page load performant
                    window.addEventListener('load', () => {
                        navigator.serviceWorker.register('{{ link('build/service-worker.js')}}');
                    });
                }
            </script>
            <script src="{{ link('build/main.js') }}"></script>
        {% endblock %}
    </body>
    </html>
{% endapply %}