<div style="position: relative">
    <a href="{{ route("tag/#{tag.id}/update") }}" class="btn btn-light text-dark d-flex justify-content-space-between align-items-center">
        <div class="d-flex justify-content-start align-items-center">
            <span class="text-emphasised">{{ tag.name }}</span>
        </div>
    </a>
    <div class="me-1" style="position: absolute;right: 0;top:8px;">
        <label for="state_{{ tag.id }}" class="switch switch-danger">
        <input type="checkbox" name="tags[]" class="checkbox-action" id="state_{{ tag.id }}" value="{{ tag.id }}">
        <span class="slider"></span>
        </label>
    </div>
</div>

{% if not loop.last %}
    <hr class="my-0">
{% endif %}