{% extends 'app.html.twig' %}

{% block content %}
    <div class="container my-3">
        <div class="mx-auto bg-light border border-color-dark shadow-sm">
            <div class="body mb-3">
                <h2>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag-fill" viewBox="0 0 16 16">
                        <path d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    </svg>
                    <span>Meine Tags</span>
                </h2>
                <p class="mb-1">Kategorisiere deine Aufgaben mit Tags.</p>
                <hr>
                <form method="post" action="{{ route('tag/delete') }}" id="tags_form" class="row" style="gap: 0">
                        {% for tag in tags %}
                            {{ include('tag/_tags.html.twig') }}
                            <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token }}">
                            {% else %}
                                <span>Noch keine Tags vorhanden!</span>
                    {% endfor %}
                </form>
            </div>
            <div class="px-3 py-2 bg-tertiary d-flex justify-content-space-between align-items-center">
                <a href="{{ route('tag/new') }}" class="btn btn-primary px-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
                    </svg>
                    Neu
                </a>
                <button form="tags_form" type="submit" class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script type="text/javascript">
        ( function (){
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            let filter_forms = document.querySelectorAll('.filter_form');

            // Loop over them and prevent submission
            Array.prototype.slice.call(filter_forms)
                .forEach(function (form) {
                    form.addEventListener('change', function (event) {
                        this.form.submit();
                        console.log('form submitted');
                    }, false)
                })

        })();
    </script>
{% endblock %}
